#game-page {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: rgb(255, 172, 112);
}
#game-page-container {
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

#game-page-header > h1 {
  font-size: 2rem;
  margin: 0;
}

.room-button {
  display: none;
  border-radius: 2rem;
  height: 3rem;
  width: -webkit-fill-available;
  border-color: rgb(255, 157, 88);
  border-width: thick;
}

.active {
  display: block;
}

#cards-container {
  display: grid;
  grid-template-rows: auto;
  gap: 0.5rem;
  padding: 1rem;
}

.card-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.card-holder > h3 {
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.636);
  margin: 0;
}

.highlighted {
  border: 0.5rem solid rgb(225, 255, 0);
  outline: none;
}

#room-selector-popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  min-width: 200px;
}

.popup-content button {
  margin: 10px;
}
