html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#lobby-page-container{
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

#lobby-title {
  font-size: 4rem;
  margin: 0;
}

#lobby-message > h2 {
  font-size: 2rem;
}

#lobby-page {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: rgb(255, 143, 195);
}

