#sign-in-page {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: rgb(161, 178, 255);
}

#sign-in-container {
  padding: 1rem;
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
}

#header-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr, 1fr;
}

#header-container > h1 {
  grid-column: 1 / -1;
  margin: 0;
  font-size: 4rem;
  font-style: italic;
}

#header-container > #host-btn {
  grid-column: 3; /* column 3 */
  grid-row: 2; /* row 2 */
  justify-self: end;
  font-size: 1rem;
  text-align: center;
  border-radius: 2rem;
  border-color: purple;
  border-width: thick;
}

h2 {
  font-size: 2rem;
  text-decoration: underline;
}

.signin > label {
  width: inherit;
  height: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.signin > input {
  width: inherit;
  height: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.signin > #join-game-btn {
  display: block;
  width: inherit;
  font-size: 1rem;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border-radius: 2rem;
  height: 3rem;
  border-color: purple;
  border-width: thick;
}

#reconnect-container {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

#reconnect-container > button {
  border-radius: 2rem;
  height: 3rem;
  border-color: purple;
  border-width: thick;
}
